<mat-grid-list cols="100" rowHeight="1%">
  <mat-grid-tile
      [colspan]="40"
      [rowspan]="40">
      <mat-card>
        <mat-toolbar color="accent">Select users to assign role</mat-toolbar>
        <mat-form-field>
          <mat-label>Users</mat-label>
          <mat-select
            [formControl]="usersSelected"
            multiple>
            <mat-option
              *ngFor="let user of usersService.allUsers | async"
              [value]="user.uid"
              class="not-empty-select">{{user.displayName}}</mat-option>
          </mat-select>
        </mat-form-field>
      </mat-card>
  </mat-grid-tile>
  <mat-grid-tile
      [colspan]="60"
      [rowspan]="90">
      <mat-card
        class="userTableCard">
        <mat-toolbar color="primary">Users in database</mat-toolbar>
        <app-user-table></app-user-table>
      </mat-card>
  </mat-grid-tile>
  <mat-grid-tile
      [colspan]="40"
      [rowspan]="40">
      <mat-card>
        <mat-toolbar color="accent">Select role to assign</mat-toolbar>
        <mat-form-field>
          <mat-label>Roles</mat-label>
          <mat-select
            [formControl]="userRoles">
            <mat-option
              *ngFor="let roleOption of roleOptions"
              [value]="roleOption"
              class="not-empty-select">{{roleOption}}</mat-option>
          </mat-select>
        </mat-form-field>
        <button
          mat-raised-button
          color="accent"
          (click)="onUpdateUserRole()">Assign role to selected users</button>
      </mat-card>
  </mat-grid-tile>
</mat-grid-list>


