<mat-grid-list cols="25" style="height: 100%;" rowHeight="5rem">
  <mat-grid-tile
    [colspan]="12"
    [rowspan]="7">
    <app-ticket-table></app-ticket-table>
  </mat-grid-tile>

  <mat-grid-tile
    [colspan]="1"
    [rowspan]="14.5">
    <mat-divider style="height: 100%;" [vertical]="true"></mat-divider>
  </mat-grid-tile>

  <mat-grid-tile
    [colspan]="12"
    [rowspan]="7">
    <app-ticket-table></app-ticket-table>
  </mat-grid-tile>

  <mat-grid-tile
  [colspan]="12"
  [rowspan]="1">
    <mat-divider style="width: 100%;"></mat-divider>
  </mat-grid-tile>
  <mat-grid-tile
  [colspan]="12"
  [rowspan]="1">
    <mat-divider style="width: 100%;"></mat-divider>
  </mat-grid-tile>

  <mat-grid-tile
    [colspan]="12"
    [rowspan]="7">
    <app-ticket-table></app-ticket-table>
  </mat-grid-tile>

  <mat-grid-tile
    [colspan]="12"
    [rowspan]="7">
    <app-ticket-table></app-ticket-table>
  </mat-grid-tile>
</mat-grid-list>


